.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.App-Dark{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
  }


.App-link {
  color: #61dafb;
}

body {
  font: 14px "Century Gothic", sans-serif;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#front-page-logo{
  height: 50px;
}

.home-page{
  margin-top: 20%;
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.homepage-card{
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}
.menu-item{
  border-radius: 20px;
  
}
.menu-item:hover{
  
 
  border-radius: 20px;
  box-shadow: 0 0 20px 8px #d0d0d0;
}
.status {
  margin-bottom: 10px;
}


.square {
  background: transparent;
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 48px;
}
.game-card{ 
  border-color: plum;
  margin-top: 10%;
  border-style: solid;
  position: relative;
  padding-top: 3%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 500px;
}

/* #game {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: 100%;
  position: relative;
} */

#logo{
  height: 50px;
  width: auto;
}

.square:hover {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}


.game-status, .fallen-soldier-block{
  margin-top: 20px;
  min-height: 50px;
}




#login{
  max-width: 500px;
  height: auto;
  width: 100%;
}

.dark-square{
background-color: plum;
}

.light-square{
    background-color: lightblue;
}

#player-turn-box{
  margin: auto;
  width: 44px;
  height: 44px;
  border: 1px solid #000;
  margin-bottom: 10px;
}


.signup{
  max-width: 500px;
  height: auto;
  width: 100%;
}
